.aboutUsPCls {
    padding: 0px 20px 80px 20px;
}
.aboutUsCCls {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.aboutusTitleCls {
    font-size: 32px;
    text-align: center;
    font-weight: 700;
}
.aboutusContainerCls {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid #8b8787;
    border-radius: 10px;
    margin-top: 50px;
    overflow: hidden;
}
.aboutUsSecLogo {
    width: 75%;
    max-width: -webkit-fill-available;
}
.aboutContainerLeftSide {
    max-width: 35%;    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, rgb(137 131 131) 1%, #fbfbfb 10%), radial-gradient(circle, rgb(137 131 131) 1%, transparent 1%);
    background-color: #ffffff;
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    animation: moveBackground 10s linear infinite;
}
@keyframes moveBackground {
    from {
        background-position: 0 0, 25px 25px;
    }
    to {
        background-position: -50px -50px, 25px 25px;
    }
}
.aboutContainerTextSecCls {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.aboutContainerTextArea {
    padding: 80px 20px;
    gap: 50px;
    display: flex;
    flex-direction: column;
}
.aboutContainerTextSecOneCls {
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    line-height: 32px;
}
.aboutContainerTextSecTwoCls {
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    line-height: 32px;
}
.aboutContainerBtnSecCls button {
    font-size: 20px;
    background: #5169F5;
    border: 0px;
    outline: none;
    font-weight: 400;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
}